*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1 !important;
    min-height: 650px;
}

.title{
    text-align: center;
    font-family: 'Dancing Script', cursive !important;
    padding:20px 0 40px 0;
    letter-spacing: 5px !important;
    color: #ff7070 !important;
    font-weight: bold !important;
    overflow: visible !important;
    text-decoration: none !important;
}

#home{
    display: flex;
    flex-direction: column;
}

#show_case{
    display: flex;
    flex-direction: column;
}

 #bg_1{
    background-image: url('./static//wallpaper_1.jpg');
}

#bg_2{
    background-image: url('./static//wallpaper_4.jpg');
}

#bg_3{
    background-image: url('./static//wallpaper_3.jpg');
}