@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff !important;
    min-height: 650px;
    width: 100vw;
    overflow-x: hidden;
    padding: 0 !important;
}

.title{
    text-align: center;
    font-family: 'Dancing Script', cursive !important;
    padding:20px 0 40px 0;
    letter-spacing: 5px !important;
    color: #ff7070 !important;
    font-weight: bold !important;
    overflow: visible !important;
    text-decoration: none !important;
}

#home{
    display: flex;
    flex-direction: column;
}

#show_case{
    display: flex;
    flex-direction: column;
}

 #bg_1{
    background-image: url('./static//wallpaper_6.jpg');
}

#bg_2{
    background-image: url('./static//wallpaper_7.jpg');
}

#bg_3{
    background-image: url('./static//wallpaper_3.jpg');
}

.slide{
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #e25252;
    width: 80% !important;
    margin: 0 auto;
    padding-top: 135%;
}

.slide_2{
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #e25252;
    width: 250px !important;
    height: 400px;
    margin: 0 auto;
}



.container_slider{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.container_slick {
    position: relative;
    margin: 0;
    padding: 60px 50px;
    width: 100%;
    color: #333;
    background-color: #ff8989;

    .slick_title{
        display: flex;
        flex-direction: row;
        margin: 0 0 50px 0;
        padding: 20px 0;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Dancing Script', cursive !important;
        letter-spacing: 4px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        justify-content: space-evenly;

        h2{
            text-align: center;
        }

        .flower_{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../src/static/Emojione_1F337.svg.png");
            width: 45px;
            height: 45px;
        }
    }
    
}

.inside_slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inside_button_slide{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.Img_Gallery{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:  100%;
}

.under_Img_Gallery{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #fff;
    color: #222;
    padding: 10px;
    text-align: center;
}

.Slide_Price{
    margin: 10px 0 0 0;
    font-weight: bold;
}

.old_price{
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through;
    margin-right: 10px;
}

.DiscountTag{
    position: absolute;
    background-color: #ffffffa6;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f35353;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
    letter-spacing: 2px;
}

.NewTag{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #0dd292;
    top: 0;
    right: 0;
    padding: 0.40em 0.70em;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.News_sub{
    background-color: #1f1f1f;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
}

.container_route{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    min-height: 650px;
}

.FileInput {
    display: none;
}

.page_container{
    padding: 20px;
}

.page_title{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 20px 0;

    h1{
        color: #333;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 0;
        border-bottom: 2px solid #ec6d6d;
    }
}

.page_content{
    width: 100%;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    max-width: 1500px;
}

.side_filter_nav{
    display: flex;
    flex-direction: column;
    width: 280px;
    overflow: hidden;
}

.ProductRows{
    width: 100%;
    display: flex;
    padding: 0 20px;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.ProductCard{
    position: relative;
    flex: 0 1 calc(25% - 1em);
    height: auto;
    margin: 10px auto;
    display: flex;
    min-width: 220px;
    flex-direction: column;
    padding: 20px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: 0.8s;
    overflow: hidden;
}

.ProductOnHoverBG{
    opacity: 0;
    background-color: #00000066;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    transition: 1.5s;
}

.ProductOnHoverInfo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    transition: 0.8s linear;
    transform: translateY(100%);
}

.VisibilityProduct{
    color: #e2e2e2;
    width: 150px !important;
    height: 60px !important;
    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    background-color: #ffffff42;
    z-index: 8;
    cursor: pointer;
    transition: 0.8s !important;
}

.VisibilityProduct:hover{
    color:#fff;
    background-color: #00000069;
}

.ProductCard:hover{
    border: 1px solid #e0e0e0;
    .ProductOnHoverBG{
        opacity: 1;
    }
    .ProductOnHoverInfo{
        transform: translateY(0);  
    }
}

.MobileBread{
    display: none;
}

.Expansion_Panel{
    display: none;
    margin: 30px !important;
}

.DesktopBreadcrumb{
    margin: 15px 20px !important;
}

.ProductImg{
    height: auto;
    min-height: 200px;
    width: 100%;
}




@media(max-width: 1000px){
    .page_container{
        padding: 0;
    }
    .page_content{
        padding: 0;
    }
    .desktopFilter{
        display: none;
    }
    .side_filter_nav{
        width: 100%;
    }
    .page_content{
        flex-direction: column
    }
    .MobileBread{
        display: flex;
        margin: 20px auto !important;
    }
    .Expansion_Panel{
        display: flex;
        flex-direction: column;
    }
    .DesktopBreadcrumb{
        display: none;
    }
}
