body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.DropzoneArea-dropZone-257{
  width: 60% !important;
  min-width: 250px !important;
  margin: 20px auto !important;
  background-color: #333 !important;
}

.MuiGrid-spacing-xs-8{
  width: 100% !important;
  margin: 0 !important;
  padding: 0 20px;
}

.MuiGrid-spacing-xs-8 > .MuiGrid-item{
  padding: 32px !important;
  max-width: 33.333333% !important;
  min-width: 220px !important;
  margin: 0 auto !important;
}